<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="utf-8">
    <title>Iniciar sesión</title>
</head>

<body>

    <div layout:fragment="content">
        <main class="contenedor sombra">
            <section>
                <h1 style="color: white">Ingrese sus datos para acceder al sitio</h1>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-5">
                        <div th:if="${param.error != null and session['SPRING_SECURITY_LAST_EXCEPTION'] != null}" class="alert alert-warning alert-dismissible fade show"
                            role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <h4 th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></h4>
                        </div>
                        <div th:if="${mensajeCLI != null}" class="alert alert-warning alert-dismissible fade show"
                            role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <h4 th:text="${mensajeCLI}"></h4>
                        </div>
                        <form action="#" th:action="@{/usuario/validar}" method="post">
                            <fieldset>
                                <div class="contenedor-campos">
                                    <div class="campo">
                                        <label for="txtcorreo">Correo electronico:</label> <input class="input-campo"
                                            type="text" placeholder="Correo electronico o usuario"
                                            required="required" name="username" />
                                    </div>
                                    <div class="campo">
                                        <label for="txtclave">Clave de acceso:</label> <input class="input-campo"
                                            type="password" placeholder="*******"
                                            required="required" name="password" />
                                    </div>

                                    <div class="campo">
                                        <h2>
                                            Si no tienes cuenta &nbsp;&nbsp;<a
                                                th:href="@{/usuario/agregar}"><span>Registrate</span></a>
                                        </h2>
                                        <input class="boton w-sm-100" type="submit" value="Ingresar">
                                    </div>
                                    <!-- campo -->




                                </div>
                            </fieldset>

                        </form>
                    </div>
                    <div class="col-4"></div>
                </div>




            </section>
        </main>
    </div>

</body>

</html>