<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>¿Cómo funciona?</title>
</head>
<body>
<div layout:fragment="content">
<main class="contenedor">
    <div class="funciones">
        <section class="funcion">
            <h3>Ingresa</h3>
            <div class="iconos">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-devices" width="68"
                     height="68" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ee5941" fill="none"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <rect x="13" y="8" width="8" height="12" rx="1" />
                    <path d="M18 8v-3a1 1 0 0 0 -1 -1h-13a1 1 0 0 0 -1 1v12a1 1 0 0 0 1 1h9" />
                    <line x1="16" y1="9" x2="18" y2="9" />
                </svg>
            </div>
            <p>Accede desde tu computadora, tablet o dispositivo móvil a nuestra página.</p>
        </section>

        <section class="funcion">
            <h3>Registrate</h3>
            <div class="iconos">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list-check" width="68"
                     height="68" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ee5941" fill="none"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M3.5 5.5l1.5 1.5l2.5 -2.5" />
                    <path d="M3.5 11.5l1.5 1.5l2.5 -2.5" />
                    <path d="M3.5 17.5l1.5 1.5l2.5 -2.5" />
                    <line x1="11" y1="6" x2="20" y2="6" />
                    <line x1="11" y1="12" x2="20" y2="12" />
                    <line x1="11" y1="18" x2="20" y2="18" />
                </svg>
            </div>
            <p>Llena todos los campos sin que te falte uno y verifica que sean correctos.</p>
        </section>

        <section class="funcion">
            <h3>Explora y reserva</h3>
            <div class="iconos">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-parking" width="68"
                     height="68" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ee5941" fill="none"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <rect x="4" y="4" width="16" height="16" rx="2" />
                    <path d="M9 16v-8h4a2 2 0 0 1 0 4h-4" />
                </svg>
            </div>
            <p>
                Explora el estacionamiento mas adecuado para ti y reserva la fecha, hora de entrada y hora de salida.
            </p>
        </section>

        <section class="funcion">
            <h3>Pago</h3>
            <div class="iconos">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-credit-card" width="68"
                     height="68" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ee5941" fill="none"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <rect x="3" y="5" width="18" height="14" rx="3" />
                    <line x1="3" y1="10" x2="21" y2="10" />
                    <line x1="7" y1="15" x2="7.01" y2="15" />
                    <line x1="11" y1="15" x2="13" y2="15" />
                </svg>
            </div>
            <p>
                Realiza el pago correspondiente y genera tu voucher el cual contendra tu información ingresada además
                este mismo será entregado en dicho estacionamiento.
            </p>
        </section>
    </div>
</main>
</div>

</body>
</html>